/* PORTFOLIO */
#portfolio{
    background: #DDD;
}
#portfolio .heading h2{
    color: #000;
}
#portfolio img{
    height:'250px';
    width:'250px';
}
#portfolio .col-md-4{
    margin-bottom: 20px;
}

#portfolio .card{
    text-align: center;
}